.grid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
}
.section-title {
    grid-column: 2/3;
    margin: 60px 0;
    text-align: center;

}
.title {
    grid-column: 1/2;
}
.input,
textarea {
    grid-column: 2/4;
}
.btn {
    
    background-color: #000;
    padding: 10px;
    grid-column: 2;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    
}
button {
    color: #fff;
}
.label {
    display: inline-block;
    padding: 20px;
}
span {
    color: red;
}
.input ,
textarea{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
textarea{
    height: 200px;
    
   
}
